body {
  margin: 0;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16pt;
}

canvas {
  display: block;
}

label {
  color: white;
  display: block;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.points-container, .color-container {
  margin-top: 24px;
  width: 30%;
  margin-left: 24px;
}

#points {
  width: 100%;
}

@media screen and (max-width: 992px) {

  body {
    font-size: 24pt;
  }

  .points-container, .color-container {
    width: 50%;
  }

  #points {
    height: 50px;
  }

}
